﻿doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="/static/stylesheets/dashboard.css" rel="stylesheet")
    link(href="/static/favicon.ico" rel="icon" type="image/x-icon")
    title Welcome to Mirror Server's Admin

body
    //- Navbar
    nav(class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0")
        a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="#") Mirror Server
        input(class="form-control form-control-dark w-100" data-bind="value: searchPhrase, event: { keyup: filterLines }" type="text" placeholder="Search" aria-label="Search")
        ul(class="navbar-nav px-3")
            li(class="nav-item text-nowrap")
                a(class="nav-link disabled" href="#") Sign in

    div(class="container-fluid")
        div(class="row")
            //- Side Menu
            //- pt-5 class fix for Firefox
            nav(class="col-md-2 d-none d-md-block bg-light sidebar pt-5")
                div(class="sidebar-sticky")
                    ul(class="nav flex-column")
                        li(class="nav-item")
                            a(class="nav-link active" href="#" data-bind="css: { active: $root.dashboardPage() == 'dashboard' }, click: $root.goToDashboard")
                                span(data-feather="home")
                                | Dashboard
                                span(class="sr-only" data-bind="if: $root.dashboardPage() == 'dashboard'")
                                    | (current)
                        
                        li(class="nav-item")
                            a(class="nav-link" href="#" data-bind="css: { active: $root.aboutPage() == 'about' }, click: $root.goToAbout")
                                span(data-feather="help-circle")
                                | About
                                span(class="sr-only" data-bind="if: $root.aboutPage() == 'requests'")
                                    | (current)

                    h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
                        span Saved sessions
                        a(class="d-flex align-items-center text-muted" href="#" data-bind="click: newSession")
                            span(data-feather="plus-circle")

                    ul(class="nav flex-column mb-2")
                        li(class="nav-item hide" data-bind="fadeVisible: isNewSession()")
                            div(class="input-group input-group-sm px-3")
                                input(id="sessionNameInput" data-bind="value: sessionName, event: { keyup: createSessionByEnter }" type="text" class="form-control" placeholder="Session name" aria-label="Session name" aria-describedby="inputGroup-sizing-sm")
                                div(class="input-group-append")
                                    button(class="btn btn-outline-secondary" type="button" data-bind="click: createSession" id="inputGroup-sizing-sm") >

                        // ko foreach: sessions
                        li(class="nav-item d-flex justify-content-between align-items-center px-3 text-muted")
                            a(class="nav-link" href="#" data-bind="click: $root.restoreSession")
                                span(data-feather="file-text")
                                span(data-bind="text: name")
                            a(class="d-flex align-items-center text-muted" href="#" data-bind="click: $root.deleteSession")
                                span(data-feather="minus-circle")
                        // /ko

            main(role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4")
                //- Dashboard Page
                div(data-bind="fadeVisible: dashboardPage() == 'dashboard'")
                    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom")
                        h1(class="h2") Dashboard
                        div(class="btn-toolbar mb-2 mb-md-0")
                            div(class="btn-group mr-2 dropdown")
                                button(class="btn btn-sm btn-outline-secondary disabled") #[span(data-feather="share-2")] Share
                                button(class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    | #[span(data-feather="download")] Export
                                div(class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton")
                                    // ko foreach: getAvailableLogs
                                    a(class="dropdown-item" data-bind="attr: { href: $data.logUrl }, click: $parent.fetchLogs" target="_blank") #[span(data-feather="file-text")] #[span(data-bind="text: $data.logFile")]
                                    // /ko
                                    div(class="dropdown-divider")
                                    a(class="dropdown-item" data-bind="click: fetchLogs" href="#") #[span(data-feather="refresh-cw")] Refresh


                    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom")
                        h4 Requests received
                        div(class="btn-toolbar mb-2 mb-md-0 mr-2")
                            button(class="btn btn-sm btn-danger" data-bind="click: resetLines") Reset log
                    div(class="table-responsive")
                        table(class="table table-striped table-sm")
                            thead
                                tr
                                    th #
                                    th Method
                                    th Base URL
                                    th Params
                                    th Body
                                    th Headers
                        
                            tbody(data-bind="foreach: lines")
                                tr
                                    td(data-bind="text: index")
                                    td: span(data-bind="text: method, attr: { class: badge(method) }")
                                    td(data-bind="text: baseUrl")
                                    td(data-bind="text: JSON.stringify(params)")
                                    td(data-bind="text: JSON.stringify(body)")
                                    td
                                        span(data-bind="text: headers[0][0]")
                                        | :
                                        span(data-bind="text: headers[0][1] + ' '")
                                        a(data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseHeaders" data-bind="visible: (headers.length > 1), attr: { href: '#collapseHeaders' + $index() }")
                                            | [ ... ]
                                    
                                        div(class="collapse" data-bind="attr: { id: 'collapseHeaders' + $index() }")
                                            div(class="card card-body")
                                                ul(data-bind="foreach: headers")
                                                    li(data-bind="text: JSON.stringify($data)")
        
                //- About Page
                div(class="hide" data-bind="fadeVisible: aboutPage() == 'about'")
                    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom")
                        h1(class="h2") About

                    div(data-bind="html: getAboutPage")

                    div(class="hide" data-bind="visible: getAboutPage() == ''")
                        h2 The Mirror Server's SockJS Admin
                        p The admin dashboard subscribes to SockJS message sent by the Mirror Server.
                        p The requests are accepted on the server that mirrors them and notifies the admin dashboard about the details.
                        h4 Usage
                        ul
                            li Send requests to the server (other than /client which is reserved for this admin)
                            li Supported methods: GET, POST, PUT, PATCH, DELETE
                            li Immediately the request data appears in the table on the #[a(href="#" data-bind="click: $root.goToDashboard") Dashboard]
                
                        h4 Technologies used
                        ul
                            li Express / Node.js
                            li SockJS
                            li Pug
                            li Knockout.js
                            li Sammy.js
                            li Bootstrap

    //- Scripts    
    script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="http://cdn.jsdelivr.net/sockjs/1.0.1/sockjs.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.6/sammy.min.js")
    script(type="text/javascript" src="/static/javascripts/helpers.js")
    script(type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js")
    script(type="text/javascript" src="/static/javascripts/dashboard.js")
    //- Icons
    script(src="https://unpkg.com/feather-icons/dist/feather.min.js")
    script if (typeof feather !== 'undefined') feather.replace()
